h2 {
	margin-bottom: 0px !important;
	text-transform: uppercase !important;
	font-size: 14px !important;
	line-height: 18px !important;
	font-weight: normal !important;
}
h3 {
	margin-bottom: 0px !important;
	text-transform: uppercase !important;
	font-size: 12px !important;
	line-height: 16px !important;
	font-weight: normal !important;
	color: #5e0c99 !important;
}
#website-wrapper {
	min-height: 780px;
	min-width: 960px;
	height: 1200px;
	width: 1050px;
}
#sfeerimpressie-wrapper {
	height: 780px;
	width: 1050px;
}
#sfeerimpressie-menu {
	position: relative;
	float: left;
	height: 740px;
	width: 200px;
	padding-right: 40px;
	margin: 0px;
}
#sfeerimpressie-display {
	background-repeat: no-repeat;
	position: relative;
	float: left;
	height: 740px;
	width: 740px;
	margin: 0px;
	padding: 0px;
}
#sfeerimpressie-display-containment {
	background-repeat: no-repeat;
	height: 100%;
	width: 100%;
}
#sfeerimpressie-display-img-draggable {
	background-repeat: no-repeat;
	width: 100%;
	height: 100%;		
	cursor: move;
}
#sfeerimpressie-display-achtergrondkleur-wrapper {
	background-repeat: no-repeat;
	height: 100%;
	width: 100%;
}
#sfeerimpressie-display-achtergrondstructuur-wrapper {
	background-repeat: no-repeat;
	height: 100%;
	width: 100%;
}
#sfeerimpressie-display-vloer-wrapper {
	background-repeat: no-repeat;
	size: 40%;
	height: 100%;
	width: 100%;
}
#sfeerimpressie-display-meubelstuk-wrapper {
	background-repeat: no-repeat;
	height: 100%;
	width: 100%;
}
#sfeerimpressie-display-resizable {
	height: 100%;
	width: 100%;
}
.ui-widget-content {
	border: 0px !important;
	background-color: none !important;
	background-color: transparent !important;
	background-image: none !important;
}
#test {
	height: 50%;
	width: 50%;
}